body{
	margin: 0;
	/*background-color: #A4938C;*/
	background-image: url(img/city_1.jpg);
}
ul{
	list-style: none; 
}
li{
	margin: 0px;
}
img{
	margin-top: 2%;
	height: 360px;
	width: 100%;
	max-width: 360px;
	min-width: 360px;
	object-fit: cover;
}
/*базовый блок*/
#feed{
	background: rgb(164, 147, 144, 0.7);  	
	margin: 3% 20%;
	min-width: 430px;
	font-family: sans-serif;	
	box-shadow:
            0 0 1px rgba(0, 0, 0, 0.5),
            0 3px 7px rgba(0, 0, 0, 0.5),
            inset 0 1px rgba(255,255,255,1),
            inset 0 -3px 2px rgba(0,0,0,0.25);
}
/*информация*/
#feed .inf{ 	 
	position: relative;
	margin-top: 2%;
	padding-left: 55px;
  	padding-right: 25px; 
  	vertical-align: top;
  	display: inline-block;
  	width: 100%;
  	max-width: 210px;
  	min-width: 280px;
  	height: 358px;
  	min-height: 300px;
  	font-size: 100%;
  	background-color: #E2D6C1;
	overflow: hidden;
}

/*значок сердечко*/
p:after{
  	content: "\2764"; 
}
button{
	height: 35px;
	width: 300px;
	margin: 35px 520px 10px;
	font-family: sans-serif;
	font-size: 15px;
	color: #FBFBFB;
	background: #2A1271;
	border-style: solid;	
	border-width: 1px;
	border-top-width: 0px;
	border-color: #093F46;
  	box-shadow:
            0 0 0px rgba(0, 0, 0, 0.3),
            0 3px 7px rgba(0, 0, 0, 0.3),
            inset 0 1px rgba(255,255,255,1),
            inset 0 -3px 2px rgba(0,0,0,0.25);
}