/*@left-margin: 390px;
@shots-bg: #f7fafc;
@gradient: linear-gradient(to right, #fd712c,#f01c78);
@moz-gradient: linear-gradient( #fd712c, #f01c78);
@gray-text: #777777;
*/
/* Fonts */
@font-face {
	font-family: 'Dosis-SemiBold';
	src: url('../fonts/Dosis-SemiBold.eot');
	src: local('☺'), url('../fonts/Dosis-SemiBold.woff') format('woff'), url('../fonts/Dosis-SemiBold.ttf') format('truetype'), url('../fonts/Dosis-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-Bold';
	src: url('../fonts/Dosis-Bold.eot');
	src: local('☺'), url('../fonts/Dosis-Bold.woff') format('woff'), url('../fonts/Dosis-Bold.ttf') format('truetype'), url('../fonts/Dosis-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-Medium';
	src: url('../fonts/Dosis-Medium.eot');
	src: local('☺'), url('../fonts/Dosis-Medium.woff') format('woff'), url('../fonts/Dosis-Medium.ttf') format('truetype'), url('../fonts/Dosis-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis-Light';
	src: url('../fonts/Dosis-Light.eot');
	src: local('☺'), url('../fonts/Dosis-Light.woff') format('woff'), url('../fonts/Dosis-Light.ttf') format('truetype'), url('../fonts/Dosis-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Reset */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #ffffff;
	width: 1920px;
}
ul{
	list-style: none;
}
/* Header */ 
#header{
	background: linear-gradient(to right, #fd712c,#f01c78);
	height: 800px;
	width: 1920px;
}
.logo{
	margin-top: 30px;
	margin-left: 390px;	
}
ul > li.name {	
	font-family: 'Dosis-Bold';
	font-size: 1.875em; 
	padding-right: 550px; 
	padding-top: 33px;
}
/* Menu */ 
figcaption > ul.menu{
	float: right;
	padding-right: 390px;	
	color: #ffffff;
}
.menu > li{
	display: inline-block;
	font-family: 'Dosis-SemiBold';
	font-size: 1em;
	padding-right: 52px;
}
/* Button: Download now */ 
ul > button{
	background: #ffffff;
	height: 35px;
	width: 153px;
	color: #222222;
	font-size: 14px;
	font-family: 'Roboto-Medium';
	border-radius: 100px;
	outline: none;
	border: none;
}
/* Description */ 
.text-header{
	color: #ffffff;	
	margin-top: 153px;
	margin-left: 390px;
	position: absolute;
	height: 365px;
	width: 1530px; 
}
.text-header > section{
	width: 490px;
}
 .text-header h1{
	font-family: 'Dosis-SemiBold';
	font-size: 2.5em;
	padding-bottom: 24px; 
 }
 .text-header p{
	font-family: 'Roboto-Light';
	font-size: 1em;
	padding-bottom: 25px;
 }
 .fa-check-circle{ 
	padding-top: 4px;
	position: absolute;
	font-size: 0.8em;
	margin-bottom: 25px; 

 }
#header .point{		
	position: relative;
	font-family: 'Roboto-Regular';
	font-size: 1em;
	padding-left: 21px;
}
/* Button: Start Exploring Us */ 
#bttn-start-us{
	margin-top: 40px;
	width: 195px;
	height: 40px;
	background: #ffffff;
	color: #222222;
	font-family: 'Roboto-Medium';
	font-size: 0.9em;
	border-radius: 100px; 
	outline: none;
	border: 5px solid #e2602d;
	padding: 3px 30px; 
}
img.iPhones{
	margin-top: 80px;
	float: right;
	position: relative;
	-webkit-filter: drop-shadow(20px 20px 20px #c3123b);
	-moz-box-shadow: drop-shadow(20px 20px 20px #c3123b);
	filter: drop-shadow(20px 20px 20px #c3123b);
}
ul.features-spec {
	margin-top: 120px;
	margin-left: 390px;	
}
.features-spec li{
	display: inline-block;	
	padding-bottom: 60px;
} 
.features-spec i{
	position: absolute;
	padding-top: 6px;
	color: #f31f79;
	font-size: 1.125em;
	border: 1px solid #a4a4a4;
	padding: 25px;
	border-radius: 50px;

}
.features-spec section{
	position: relative;
	margin-left: 90px;
	width: 305px;
}
.features-spec h2{
	font-family: 'Dosis-Medium';
	color: #222222;
	padding-bottom: 25px;
}
.features-spec span{
	font-family: 'Roboto-Light';
	font-size: 1em;
	color: #a4a4a4;

}
hr{
	display: block;
	margin-top: 65px;
	margin-bottom: 121px;
	margin-left: 390px;
	border-style: inset #eeeeee;
	border-width: 2px;
	width: 1180px;
	border-top: none;
}
/* Block: We don't leave you stranded */
#leave{
	height: 500px;
}
#leave img{
	position: absolute;
	margin-left: 0;
	margin-top: -150px; 
}
#leave section{
	margin-left: 976px;
}
section h1.title{	
	padding-bottom: 30px;
	text-align: left;
}
section h1{
	font-family: 'Dosis-Medium';
	text-align: center;
	font-size: 3em;
	color: #222222;
}
#leave p{	 	
	color: #a4a4a4;
	font-family: 'Roboto-Light';
	font-size: 1em;
}
#leave p.spec2{
	padding-top: 80px;
	padding-bottom: 40px;
}
#leave span.point{
	color: #a4a4a4;
	font-family: 'Roboto-Regular';
	font-size: 1em;
	padding-left: 21px;
	position: relative;
	padding-bottom: 25px;
}
/* Screen shots */
#screen-shots{
	margin-top: 80px;
	height: 802px;
	background: #f7fafc;
	padding: 116px 270px 60px 270px;
}
#screen-shots p{
	text-align: center;
	color: #777777;
	font-family: 'Roboto-Light';
	font-size: 1em;
	padding-bottom: 77px;
}
#screen-shots li{
	display: inline-block;
	vertical-align: middle;
}
/* Button: arrows */
 .button{
	border: 1px solid #a4a4a4;
	padding: 20px;
	border-radius: 50px;	
}
button.arrow-left{
	background-color: #ffffff;
}
li > button.arrow-right{
	border: 4px solid #e5e8ea;
	background: linear-gradient(to right, #fd712c,#f01c78);
	-moz-background: linear-gradient( #fd712c, #f01c78);
	color: #ffffff;
}
/* Princing */ 
#pricing{
	height: 680px;
	padding: 116px 330px 120px 390px;
}
#pricing p{
	text-align: center;
	color: #777777;
	font-family: 'Roboto-Light';
	font-size: 1em;
}
#pricing li{
	display: inline-block;
}
#pricing .block{
	background: #f7fafc;
	height: 482px;
	width: 263px;
	margin-top: 78px;
	margin-right: 30px;

}
#base{
	background: #ffffff;
  	display: inline-block;
  	text-align: center;
  	height: 80px;
  	font-family: 'Dosis-Medium';
  	margin-top: 17px;
	position: relative;
	width: 263px;
	padding-top: 30px;
}
#base:after{
	content: "";
	position: absolute;
	bottom: -42px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 130px solid transparent;
	border-right: 130px solid transparent;
	border-top: 42px solid #ffffff; 
}
#b2{
	display: inline-block;
  	height: 80px;
  	text-align: center;
  	font-family: 'Dosis-Medium';
  	margin-top: 17px;
	position: relative;
	width: 263px;
	border-left: #fd712c;
  	border-right: #f01c78;
  	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #fd712c 0%, #f01c78 100%), -webkit-linear-gradient(left, #fd712c 0%, #f01c78 100%);
    background-image: -o-linear-gradient(left, #fd712c 0%, #f01c78 100%), -o-linear-gradient(left, #fd712c 0%, #f01c78 100%);
    background-image: linear-gradient(to right, #fd712c 0%, #f01c78 100%), linear-gradient(to right, #fd712c 0%, #f01c78 100%);
	padding-top: 30px;
	color: #ffffff;
}
#b2:after{
	content: "";
	position: absolute;
	border-top: 42px solid; 
	border-left-color: #fd712c;
  	border-right-color: #f01c78;
  	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #fd712c 0%, #f01c78 100%), -webkit-linear-gradient(left, #fd712c 0%, #f01c78 100%);
    background-image: -o-linear-gradient(left, #fd712c 0%, #f01c78 100%), -o-linear-gradient(left, #fd712c 0%, #f01c78 100%);
    background-image: linear-gradient(to right, #fd712c 0%, #f01c78 100%), linear-gradient(to right, #fd712c 0%, #f01c78 100%);
	bottom: -42px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 130px outset transparent;
	border-right: 130px outset transparent;	
	
}
#pricing .block > h4{
	text-align: center;
	padding-top: 17px;
	font-size: 1.125em;
	font-family: 'Dosis-SemiBold';
}
li.block hr.line{	
	padding: 0;
    margin: 0; 
	width: 100px;
	border-top: none;
    border-bottom: 1px dashed #eeeeee;
    background: #f7fafc;
    outline: none;
	margin-top: 4px;
	margin-bottom: 4px;
} 
#f{
	color: #777777;
	font-family: 'Roboto-Light';
	font-size: 1em;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 10px;
}
#pricing li.block > button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;	
	color: #222222;
	height: 40px;
	width: 135px;
	font-size: 1em;
	font-family: 'Roboto-Medium';
	border-radius: 100px;
	border: 1px solid #a4a4a4;
}
#pricing li.block > button.buy{
	border: 4px solid #e5e8ea;
	background: linear-gradient(to right, #fd712c,#f01c78);
	-moz-background: linear-gradient( #fd712c, #f01c78);
	color: #ffffff;
}
ul > li.pricing02{
	-webkit-box-shadow: -3px 8px 74px -5px rgba(0,0,0,0.14);
	-moz-box-shadow: -3px 8px 74px -5px rgba(0,0,0,0.14);
	box-shadow: -3px 8px 74px -5px rgba(0,0,0,0.14);
}
/* Video */
#beach{
	background-image: url(../img/beach.png);
	height: 400px;
}
#beach button.play{
	margin-top: 200px;
	border: 1px solid #a4a4a4;
	width: 75px;
	height: 75px;
	border-radius: 50px;	
	padding: 0;
	outline: none;
	border: none; 
	background: linear-gradient(to right, #fd712c,#f01c78);
	-moz-background: linear-gradient( #fd712c, #f01c78);
	margin-top:  163px;
}
#beach .fa-play{	
	padding: 20px;
	color: #ffffff;	
}
/* FeedBack */
#customers{
	height: 576px;
	padding: 110px 240px 120px 240px;
}
#customers p{
	color: #777777;
	font-family: 'Roboto-Light';
	font-size: 1em;
}
#customers li{
	display: inline-block;
	vertical-align: middle;	
}
#customers li.feedback{	
	background: #f7fafc;
	width: 300px;
	height: 275px;
	margin-top: 80px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 45px;
}
	
#customers li.feedback2{
	background: #ffffff;
	width: 300px;
	height: 275px;
	margin-top: 80px;
	margin-right: 15px;
	padding: 45px;
	-webkit-box-shadow: -3px 8px 74px -5px rgba(0,0,0,0.14);
	-moz-box-shadow: -3px 8px 74px -5px rgba(0,0,0,0.14);
	box-shadow: -3px 8px 74px -5px rgba(0,0,0,0.14);	
}
#customers .photo-feedback1{
	background: url(../img/Feedback1.png) no-repeat -26px 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: auto 84px; 
	position: absolute;
	margin-top: 30px;
}
#customers .photo-feedback2{
	background: url(../img/Feedback2.png) no-repeat -40px -13px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: auto 115px; 
	position: absolute;
	margin-top: 30px;
}
#customers .photo-feedback3{
	background: url(../img/Feedback3.png) no-repeat -105px -42px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-size: auto 205px; 
	position: absolute;
	margin-top: 30px;
}
#customers .feedback-inf{
	padding-left: 105px;
	padding-top: 40px
}
#customers .feedback-inf > h4{	
	font-family: 'Dosis-SemiBold';
	padding-top: 17px;
	font-size: 1.125em;
}
#customers .feedback-inf p{
	padding-top: 0;
}
/* Download buttons */
#download{
	background: linear-gradient(to right, #fd712c,#f01c78);
	-moz-background: linear-gradient( #fd712c, #f01c78);
	height: 265px; 
	padding: 116px 340px 125px 340px;
}
#download h1{
	font-family: 'Dosis-Light';
	font-size: 3em;
	color: #ffffff;
}
#download button{
	margin-top: 90px;
	width: 360px;
	height: 116px;
	outline: none;
	border: none;
	border-radius: 2px;
	background: #ffffff;
	display: inline-block;
	margin-left: 27px;
}
#download img{
	position: absolute;
	margin-top: -29px;
	margin-left: -180px;
}
#download button > h2{
	color: #222222;
	font-family: 'Dosis-SemiBold';
}
#download button > p{
	padding-left: 68px;
	font-family: 'Roboto-Light';
	font-size: 1em;
	color: #777777;
	padding-top: 15px;
}
/* Footer */
#footer{
	background: #222222;
	color: #ffffff;
	font-family: 'Roboto-Light';
	font-size: 1em;
	padding-top: 60px;
	padding-bottom: 60px;
}
#footer .fa{
	padding-bottom: 30px;
	padding-right: 32px
}
#footer .fa-dribbble{
	color: #f31f79;
}



